@charset "UTF-8";

/* 
LINK DO CURSO EM VIDEO COMO FAZER ESSA TELA DE LOGIN
https://youtu.be/Ec7Vu96wdpA?list=PLHz_AreHm4dkcVCk2Bn_fdVQ81Fkrh6WT&t=138 

*/

/* TABLETS */

@media screen and (min-width: 769px) and (max-width: 1080px) {
    
    main {
        width: 100vw;
        
    }
    section#login {
        max-width: 90vw;
        height: 310px;
        background-image: url(../imagens/build21.png);
        margin: auto;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 20px;
        }
    div#formulario {
        height: 310px;
        width: 70%;
        background-color: white;
        border-radius: 0px 20px 20px 00px;
        float: right;
    }
    h1 {
        padding: 10px;
        font-size: 1.7em;
        font-weight: bolder;
    }
    div > p {
        font-size: 0.9em;
        padding: 0px 13px;
        line-height: 1.3em;
        text-align: left;
        margin-bottom: 5px;
    }
    img#imgsenha {
        width: 25px;  
        display: flex;
        position: absolute;
        margin-left: 13px;
        margin-top: 8px;
    }
    img#imguser {
        width: 25px;  
        display: flex;
        position: absolute;
        margin-left: 13px;
        margin-top: 8px;
    }
    input#iemail {
        width: 91.5%;
        margin-left: 45px;
        padding-top: 13px;
        padding-bottom: 13px;
        background-color: rgb(113, 203, 219);
        text-indent: 5px;
        border-radius: 5px; 
        border-style: hidden;
    }
    input#ipass {
        width: 91.5%;
        margin-top: 0px;
        margin-left: 45px;
        padding-top: 13px;
        padding-bottom: 13px;
        background-color: rgb(113, 203, 219);
        text-indent: 5px;
        border-radius: 5px;
        border-style: hidden;
        
    }
}


/* CELULARES */

@media screen and (max-width: 845px){
    main {
        width: 100vw;
        height: 100vh;        
    }
    section#login {
        margin: auto;
        width: 275px;
        height: 534px;
        background-image: url(../imagens/build.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 20px;
        }
    div#formulario {
        width: 100%;
        height: 350px;
        background-color: white;
        border-radius: 0px 0px 20px 2dvb;
        position: relative;
        top: 184px;
    }
    h1 {
        padding: 10px;
        font-size: 1.7em;
        font-weight: bolder;
    }
    div > p {
        font-size: 0.9em;
        padding: 0px 10px;
        line-height: 1.3em;
        text-align: left;
        margin-bottom: 15px;
    }
    p#pemail {
        background-color: #54535c;
        margin-left: 8px;
        margin-right: 9px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-bottom: 1px;
        border-radius: 5px;
    }
    p#psenha {
        background-color: #54535c;
        margin-left: 8px;
        margin-right: 9px;
        margin-top: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 5px;
    }
    img#imgsenha {
        width: 25px;  
        display: flex;
        position: absolute;
        margin-left: 13px;
        margin-top: 8px;
    }
    img#imguser {
        width: 25px;  
        display: flex;
        position: absolute;
        margin-left: 13px;
        margin-top: 8px;
    }
    input#iemail {
        width: 81%;
        margin-left: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(113, 203, 219);
        text-indent: 5px;
        border-radius: 5px; 
        border-style: hidden;
        font-size: 1.1em;
    }
    input#enter {
        margin-top: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 94%;
        color: white;
        background-color: #2091a5;
        border-radius: 5px;
        border-style: solid;
        border-color: #2091a5;
        font-size: 1.1em;
    }
    input#ipass {
        width: 81%;
        margin-top: 0px;
        margin-left: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(113, 203, 219);
        text-indent: 5px;
        border-radius: 5px;
        border-style: hidden;
        font-size: 1.1em;
    }
}